@model IEnumerable<SimuladorUnico.Models.GrupoStatus>

<script>

    $(function () {
        $('#divAdicionarGrupoStatus').hide();
    });

</script>

<p>
    
    <button class="btn btn-primary btn-adicionar" onclick="Adicionar('GrupoStatus')">Adcionar Grupo</button>
    <div class="row" style="display : none" id="divAdicionarGrupoStatus">
        
    </div>
</p>



<table class="table">
    @if (Model.Count() > 0)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NmGrupoStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NmUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DvAtivo)
            </th>
            <th></th>
        </tr>

        foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NmGrupoStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NmUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DvAtivo)
                </td>
                <td>
                    <span class="glyphicon glyphicon-edit pointer" title="Editar Grupo Status" onclick="EditarGrupoStatus(@item.IdGrupoStatus)"></span> |
                    <span class="glyphicon glyphicon-remove pointer" title="Editar Grupo Status" onclick="RemoverGrupoStatus(@item.IdGrupoStatus)"></span>
                </td>
            </tr>
        }
    }
    else
    {
        <tr><td><i>Nenhum grupo de status foi adicionado.</i></td></tr>
    }
</table>
